/** {
    margin: 0;
    padding: 0;
}
.main {
    display: block;
    width: 100%;
    height: 900px;
}
img[alt] { width:
        100px;
}
input[type=”text”] { fontsize: 10px;
}*/
body {
    background-color: lightgray;
}
em {
    font-style: italic;
}